apiVersion: v1
kind: Secret
metadata:
  name: mysql
type: Opaque
stringData:
  host: mysql
  port: "3306"
  user: root
  password: changeme
  compress: "true"
  encrypt: "false"
  encryptKey: changetoRandom

---
apiVersion: v1
kind: Secret
metadata:
  name: azure
type: Opaque
stringData:
  account: changeme
  accountKey: changeme
  container: backup
